.header_wrap {
  width: 100%;
  height: 56px;
  background-color: white;
}

.header {
  margin: 0 auto;
  width: 1800px;
  height: 56px;
  background-color: white;
}

/* 메인 헤더 */

.logo_wrap {
  width: 160px;
  height: 56px;
  float: left;
  position: relative;
  background-color: white;
}

.header > .logo_wrap > a > img {
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* 로고 */

.login_wrap {
  width: 160px;
  height: 56px;
  float: right;
  position: relative;
  background-color: white;
}

.login_btn {
  width: 100px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  border: 1px solid #e5e5e5;
  border-radius: 100px;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  cursor: pointer;
}

.login_btn:hover {
  border-color: #def1ff;
  background-color: #def1ff;
}

.login_wrap > .login_btn > img {
  margin-left: 8px;
  padding: 7px 7px;
  width: 20%;
  float: left;
}

.login_wrap > .login_btn > p {
  padding: 8px 0px;
  font-size: 12px;
  color: #065fd4;
}

.more_btn {
  width: 3px;
  top: 50%;
  left: 20%;
  transform: translate(0%, -50%);
  position: absolute;
  cursor: pointer;
}

/* 로그인 & 메뉴 버튼 */

.search_wrap {
  width: calc(100% - 160px);
  height: 56px;
}

.search_main {
  margin: 0 auto;
  width: 500px;
  height: 56px;
  position: relative;
}

.search_bar {
  margin: 0 auto;
  width: 500px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 100px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  background-color: white;
}

.search_bar > input[type="text"] {
  width: 390px;
  height: 30px;
  border: none;
  outline: none;
  margin: 4px 17px;
  font-size: 16px;
}

.serach_btn_wrap {
  width: 60px;
  height: 40px;
  top: -1px;
  right: -1px;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  background-color: #f8f8f8;
  cursor: pointer;
}

.serach_btn_wrap:hover {
  background-color: #f0f0f0;
}

.search_bar > img {
  width: 4%;
  top: 13px;
  right: 65px;
  position: absolute;
  cursor: pointer;
  opacity: 0.8;
}

.search_bar > img:hover {
  opacity: 1;
}

.serach_btn_wrap > img {
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
}

/* 검색창 */

.move_btn {
  width: 55px;
  height: 55px;
  position: fixed;
  border-radius: 100%;
  background-color: #ebebeb;
  cursor: pointer;
  z-index: 5;
}

.move_btn > img {
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0.6;
}

.move_btn:hover {
  background-color: #d9d9d9;
}

.up {
  top: 65px;
  right: 10px;
}

.down {
  bottom: 10px;
  right: 10px;
  transform: rotate(180deg);
}

/* 위&아래 버튼*/

.video_wrap {
  margin: 0px auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video_wrap > ul {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.video_wrap > ul > li {
  margin: 0 auto;
  width: 901px;
  height: 473px;
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* 기본 뼈대 */

.temp {
  height: 30px;
}

.youtube_frame {
  width: 841px;
  height: 473px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  float: left;
  background: white;
}

/* 프레임*/

iframe {
  width: 841px;
  height: 473px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.youtbue_btn_group {
  width: 60px;
  height: 473px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  float: right;
  background-color: white;
}

.youtbue_btn_group > ul {
  top: 31px;
  position: relative;
}

.youtbue_btn_group > ul > li {
  width: 45px;
  margin: 13px 8px;
  cursor: pointer;
}

.youtbue_btn_group > ul > li:hover .icon_main {
  background-color: #e5e5e5;
}

.youtbue_btn_group > ul > li > .icon_main {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #f2f2f2;
}

.youtbue_btn_group > ul > li > .icon_main > img {
  width: 50%;
}

.youtbue_btn_group > ul > li > p {
  margin-top: 2px;
  font-size: 15px;
}

.profile_main > img {
  border-radius: 10px;
  width: 40px;
}

/* 버튼 그룹 */
/* 영상 부분*/
